#bodycontent p
{
  font-family: sans-serif;
  font-size:   125%;
  padding-left: 2.5em;
}

h1.sitetitle a
{
  border: 0;
  text-decoration: none;
}

ul.topics
{
  list-style-type: none;
}


#footerstrip { background-color: #EAE6E6; text-align:center; font-size:0.9em; color:#000000; padding-top: 2em; padding-bottom: 2em;}
#footerstrip a {color:#000000; text-decoration:none; font-weight: bold}
#footerstrip a:hover {color:#000000; font-weight: bold}

#logostrip { background-color: #376396; color: #FFFFFF; padding-top: 1.5em; }
#logostrip h1, h4 { color: #FFFFFF; text-decoration: none; }
#logostrip a { color: #FFFFFF; text-decoration: none; }

.sidebar { padding-top: 1.5em; padding-left: 0.5em; }


pre {
    background-color: #FFF6BF;
    border: 1px solid #CCC;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
    margin-left: 3em;
}

.question {
    font-weight: bold;
}
