<!DOCTYPE html>
<html>
<head>
    {% include head_base.html %}
    {% include head_recipe.html %}
</head>

<body>
    {% include header.html %}

    <div class="container">
        <div class="row">

            <div id="content" class="col-xs-12 col-sm-9 col-sm-push-3">

                {% if page.needs_anwser %}
                    {% include needs_answer.html %}
                {% endif %}

                {{ content }}

                <hr>

                {% include disqus_load.html %}
            </div>
            <div class="col-xs-12 col-sm-3 col-sm-pull-9 sidebar">
                {% include sidebar.html %}
            </div>
        </div>

    </div>

    {% include footer.html %}

</body>
</html>
